osource "/opt/Nordic/connect-sdk/nrf/boards/shields/*/Kconfig.defconfig"
osource "/opt/Nordic/connect-sdk/zephyr/boards/shields/*/Kconfig.defconfig"
osource "/opt/Nordic/connect-sdk/zephyr/boards/shields/*/Kconfig.defconfig"
