osource "/opt/Nordic/connect-sdk/nrf/boards/shields/*/Kconfig.shield"
osource "/opt/Nordic/connect-sdk/zephyr/boards/shields/*/Kconfig.shield"
osource "/opt/Nordic/connect-sdk/zephyr/boards/shields/*/Kconfig.shield"
